[Unit]

Description=webThing Startup


After=network.target



[Service]

ExecStart=/usr/local/bin/webThing_startup.sh

Type=forking



[Install]

WantedBy=multi-user.target